name: Run tests on main

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:

  runTests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20, 22, 24, 25]
    steps:

    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: npm
        cache-dependency-path: package-lock.json

    - name: Install dependencies
      run: npm ci

    - name: Run tests
      run: npm run test
