name: Build and Push Docker Image

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:

  runTests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20, 22, 24, 25]
    steps:

    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: npm install

    - name: Run tests
      run: npm run test

  build-and-push:
    needs: runTests
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract version components from tag
        id: get_version
        run: |
          FULL_VERSION=${GITHUB_REF#refs/tags/v}
          MAJOR=$(echo $FULL_VERSION | cut -d. -f1)
          MINOR=$(echo $FULL_VERSION | cut -d. -f2)
          PATCH=$(echo $FULL_VERSION | cut -d. -f3)

          echo "FULL_VERSION=$FULL_VERSION" >> $GITHUB_OUTPUT
          echo "MAJOR_VERSION=$MAJOR" >> $GITHUB_OUTPUT
          echo "MAJOR_MINOR_VERSION=$MAJOR.$MINOR" >> $GITHUB_OUTPUT

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/${{ github.repository }}:${{ steps.get_version.outputs.FULL_VERSION }}
            ghcr.io/${{ github.repository }}:${{ steps.get_version.outputs.MAJOR_MINOR_VERSION }}
            ghcr.io/${{ github.repository }}:${{ steps.get_version.outputs.MAJOR_VERSION }}
            ghcr.io/${{ github.repository }}:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
